.footerPigxel {
  padding: 50px 20px;
  color: #eee;
  font-family: 'Press Start 2P', monospace;
}

.contenidoPie {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 1100px;
  margin: auto;
}

.seccionPie h3 {
  font-size: 14px;
  color: var(--fondo);
  text-shadow: 2px 2px #000;
  margin-bottom: 12px;
}

.seccionPie p {
  font-size: 11px;
  max-width: 260px;
  line-height: 1.5;
  color: #ddd;
}

.seccionPie ul {
  list-style: none;
  padding: 0;
}

.seccionPie ul li a {
  font-size: 11px;
  color: #ffb6d6;
  text-decoration: none;
  display: block;
  margin: 8px 0;
  transition: transform .2s, color .2s;
}

.seccionPie ul li a:hover {
  transform: translateX(6px);
  color: #fff;
}

.iconoSocial {
  margin-right: 12px;
  color: #ffb3d1;
  transition: transform .25s, color .25s;
}

.iconoSocial:hover {
  color: #ffffff;
  transform: scale(1.25);
}

.formularioBoletin {
  margin-top: 15px;
}

.inputBoletin {
  width: 180px;
  padding: 8px;
  font-size: 10px;
  border: 2px solid #000;
  border-radius: 4px;
  background: #2a2a2a;
  color: #fff;
}

.botonBoletin {
  padding: 8px 12px;
  font-size: 10px;
  margin-left: 6px;
  background: #ea638c;
  border: 2px solid #000;
  cursor: pointer;
  transition: transform .2s;
}

.botonBoletin:hover {
  transform: scale(1.1);
}


.logoPie {
  font-size: 13px;
  text-shadow: 2px 2px #000;
  color: #ff8ab6;
}

.pieInferiorDerecha a {
  font-size: 10px;
  color: #ccc;
  margin-left: 15px;
  text-decoration: none;
}

.pieInferiorDerecha a:hover {
  color: #fff;
}

/* ======= ANIMACIONES SUAVES ======= */

@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animEntrada {
  animation: aparecer .8s ease-out;
}

.animEntradaRetraso {
  animation: aparecer .8s ease-out;
  animation-delay: .3s;
}

/* RESPONSIVE */
@media (max-width: 700px) {
  .seccionPie {
    text-align: center;
    margin: auto;
  }
  .pieInferior {
    flex-direction: column;
    text-align: center;
    gap: 12px;
  }
}
.pieInferior {
  margin-top: 40px;
  padding-top: 20px;

  display: flex;
  justify-content: center;   
  align-items: center;          
  flex-wrap: wrap;
  gap: 20px;                   
}

.pieInferiorIzquierda,
.pieInferiorDerecha {
  text-align: center;           
}

.pieInferiorDerecha a {
  margin: 0 10px;             
}
