/* =======================
   MODAL LOGIN
======================= */

.modal-login {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
#titulo-login{
  color: var(--vino);
}
.login-box {
  background: #f8e7c5;
  padding: 25px;
  width: 320px;
  border: 4px solid #3b0c0c;
  text-align: center;
  position: relative;
  font-family: "Press Start 2P";
  animation: aparecer 0.2s ease-out;
}

.login-box input {
  width: 90%;
  padding: 10px;
  margin-top: 10px;
  font-family: inherit;
  border: 3px solid #3b0c0c;
  background: #fff;
}

.btn-login {
  background: #4caf50;
  border: 3px solid #1f5d22;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 15px;
  font-family: "Press Start 2P";
}

.cerrar {
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
  font-size: 16px;
}

.cambio {
  margin-top: 15px;
  cursor: pointer;
  color: #333;
  font-size: 12px;
}
